.rightblock
  %h3 News
  #messages
    #mentions
      - @mentions.each do |r|
        .mention #{r.from_user} said: #{r.text}

    #news
      - @news.each do |n|
        .news #{n.text}
.thebox
  %img.peek{:src=>"/images/peekinside.png"}
  #menu.menu{:style=>"display:none;"}
    %a= link_to "Gallery", galleries_path
    %a= link_to "Characters", characters_path
    %a= link_to "Concept Art", gallery_path(1)
    %a= link_to "Crew", crew_contributors_path
    .close [x] close
  :javascript
    var menu = dojo.query("#menu")[0];
    var close = dojo.query(".close")[0];

    dojo.query(".peek").forEach(function (o) {
      dojo.connect(o,"onmouseover",function (e) {
        dojo.style(menu,"display","inline-block");
      });
    });

    dojo.connect(close,"onclick",function (e) {
      dojo.style(menu,"display","none");
    });